body {
  font-family: sans-serif;
  background-image: url('http://www.animated-gifs.eu/category_nature/space-rockets/0029.gif');
  background-size: cover;
  position: absolute;
}

.btn-holder {
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 50px;
}

.btn {
  height: 30px;
  background: orange;
  color: white;
  border-radius: 10px;
}

/* ul {
  list-style: none;
} */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.column {
  flex: 25%;
  max-width: 50%;
  padding: 5px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
} */

.flex-container > div {
  background-color: #367ABD;
  border-radius: 10px;
  width: 400px;
  margin: 25px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
} 

.big {
width: 100%;
}

.editme {
  font-size: 15px;
}
