body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://files.slack.com/files-pri/T0535UKR3-FCJL6T61Y/3526bf9a43add56a66dbbdba1af4bee5.png');

  background-blend-mode: lighten;
  ;
}

.big {
  height: 25%;
  width: 25%;
  padding: 10%
}

.btn {
  text-align: center;
  margin: 50px 10px; 
  padding: 5px; 
}
ul {
  list-style: none;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  flex-direction: column;
  
}